---
import type { BlogData } from "~schemas/blog";

export type Props = BlogData & {
  link: string;
};

const post = Astro.props;

const stringifiedDate = post.date.toISOString();
const formattedDate = stringifiedDate.split("T")[0];
---

<div class="py-2">
  <div class="border-l-2 border-gray-500 px-3">
    <a href={post.link}>
      <time
        class="float-right pl-2 italic text-gray-500"
        datetime={stringifiedDate}
      >
        {formattedDate}
      </time>
      <div>
        <span class="font-extrabold text-gray-800 underline underline-offset-2"
          >{post.heading}</span
        >
        <p class="m-0 p-0">
          {post.meta.description}
        </p>
      </div>
    </a>
  </div>
</div>
