---
export interface Props {
  title: string;
  description: string;
  defaultImage: string;
  image?: string;
}

const { title, description, defaultImage, image } = Astro.props;
const imageURL = image ?? defaultImage;
const fullImageURL = new URL(imageURL, Astro.site).toString();

if (title.length > 70) {
  throw new Error(
    `Title is too long for Twitter card. It should be less than 70 characters: ${title}`
  );
}

if (description.length > 200) {
  throw new Error(
    `Description is too long for Twitter card. It should be less than 200 characters: ${description}`
  );
}
---

<title>{title}</title>
<meta name="description" content={description} />

<meta name="twitter:creator" content="@mm_atthew" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={fullImageURL} />
<meta property="og:url" content={Astro.url.href} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={fullImageURL} />
