---
export interface Props {
  title: string;
  description: string;
  defaultImage: string;
  image?: string;
}

const { title, description, defaultImage, image } = Astro.props;
const imageURL = image ?? defaultImage;
const fullImageURL = new URL(imageURL, Astro.site).toString();
---

<title>{title}</title>
<meta name="description" content={description} />

<meta name="twitter:creator" content="@mm_atthew" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={fullImageURL} />
<meta property="og:url" content={Astro.url.href} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={fullImageURL} />
